.display-4{font-family: 'Trade Winds'; font-size: 70px;}
.lead {font-family: 'Trade Winds'; font-size: 30px; }
h2 {font-family: 'Trade Winds'; font-size: 50px}
h3 {font-family: 'Trade Winds'; font-size: 30px}
