.display-4{font-family: 'Trade Winds'; font-size: 80px;margin-bottom: 20px;}
.lead {font-family: 'Trade Winds'; font-size: 40px; }
h2 {font-family: 'Trade Winds'; font-size: 50px}
h3 {font-family: 'Trade Winds'; font-size: 30px}
body{background-color: rgb(247, 242, 242)}
.jumbotron{background-color: rgb(4, 99, 139); color: white}
.table td{border-color: black}
.table th{border-color: black}